body,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  min-width: 600px;
}
.nextdo {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.nextdo:after {
  content: '.';
  display: block;
  zoom: 1;
  height: 0;
  visibility: hidden;
  clear: both;
}
.header {
  width: 100%;
  background: #dddddd;
  min-width: 600px;
  height: 60px;
  border-bottom: 1px solid #cccccc;
}
.header .name {
  margin-left: 2%;
  font-size: 25px;
  color: #BEAD92;
  font-weight: 600;
  line-height: 60px;
}
.left-nav {
  float: left;
  width: 200px;
  background: #f2f2f2;
  border-right: 1px solid #cccccc;
}
.main-nav {
  font-size: 18px;
  min-height: 500px;
  border-bottom: 1px solid #cccccc;
}
.main-nav li {
  margin-top: 10px;
}
.main-nav li.active {
  background: #fff;
}
.main-nav ul {
  margin-right: 0;
  list-style: none;
}
.main-nav > li > p {
  margin-left: 10px;
}
.main-nav .se-nav {
  font-size: 16px;
}
.main-nav .se-nav > p {
  margin-left: 20px;
}
.main-nav .se-nav .task > p {
  margin-left: 30px;
}
.main-nav .th-nav {
  font-size: 14px;
}
.main-nav .th-nav > p {
  margin-left: 30px;
}
.main-nav .th-nav .task > p {
  margin-left: 40px;
}
.main-nav .nav > p {
  padding-left: 20px;
  background: url(../images/nav.png) center left no-repeat;
}
.main-nav .fi-nav > p {
  background: none;
  padding: 0px;
}
.main-nav .task > p {
  padding-left: 20px;
  background: url(../images/task.png) center left no-repeat;
}
.main-nav .delete {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: -5px;
  visibility: hidden;
}
.main-nav p:hover .delete {
  visibility: visible;
}
.add-new {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background: #f2f2f2;
  cursor: pointer;
}
.add-new > img {
  width: 35px;
  vertical-align: middle;
}
.add-new .name {
  padding-left: 25px;
  background: url(../images/add.png) center left no-repeat;
  font-size: 17px;
}
.mid-nav {
  width: 200px;
  border-right: 1px solid #cccccc;
  float: left;
}
.select {
  height: 40px;
  border-bottom: 1px solid #cccccc;
  background: #f2f2f2;
  position: relative;
}
.select .select-nav {
  height: 25px;
  list-style: none;
  line-height: 25px;
  margin-top: 15px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 15px;
}
.select .select-nav > li {
  float: left;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.list-detail {
  min-height: 464px;
  border-bottom: 1px solid #cccccc;
}
.list-detail ul {
  list-style: none;
}
.list-detail li {
  margin-top: 5px;
}
.list-detail p {
  font-size: 16px;
}
.list-detail .list-time {
  padding-left: 15px;
}
.list-detail .list-time + ul > li {
  height: 25px;
  line-height: 25px;
}
.list-detail .list-time + ul > li > p {
  padding-left: 25px;
}
.right-content {
  margin-left: 402px;
}
.edit-com-img {
  width: 35px;
  height: 35px;
}
.item-name {
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  color: #000;
  background: #f2f2f2;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
}
.item-name #complete {
  float: right;
  width: 42px;
  height: 42px;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.item-name #edit {
  float: right;
  width: 35px;
  height: 35px;
  margin-top: 7px;
  cursor: pointer;
  margin-right: 25px;
}
.item-time {
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 18px;
  padding-left: 10px;
}
.popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  /*不支持rgba的浏览器*/
  background: rgba(0, 0, 0, 0.5);
  /*支持rgba的浏览器*/
 filter: filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}
.popup .confirm {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -200px;
  width: 400px;
  height: 150px;
  border: 1px solid #ddd;
  background: #fff;
}
.popup .add_new_list {
  display: none;
  width: 350px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -175px;
  background: #fff;
  padding-top: 15px;
  padding-left: 15px;
}
